# local
.idea
.vscode
.DS_Store

# next
logs
*.log
npm-debug.log*

# tests
lib-cov
coverage
.nyc_output

# build
build
.next
pids
*.pid
*.seed

# dependencies
node_modules
jspm_packages

# npm
.npm
.node_repl_history

# netlify
.netlify

# cypress
cypress/downloads
cypress/screenshots
cypress/videos
