@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-extrabold text-primary;
  }

  h2 {
    @apply text-lg lg:text-xl font-bold text-primary;
  }

  h3 {
    @apply text-lg lg:text-2xl font-semibold text-primary;
  }

  h4 {
    @apply text-lg font-semibold text-primary;
  }

  h5 {
    @apply font-semibold text-primary;
  }

  h6 {
    @apply font-semibold text-primary;
  }

  strong {
    @apply font-semibold;
  }

  pre,
  code {
    @apply font-mono;
  }

  /* blog code blocks */
  :not(pre) > code {
    @apply rounded-md bg-gray-200 px-1 py-0.5 text-sm;
  }

  pre {
    @apply overflow-x-auto p-4 text-gray-300 text-sm;

    & > code {
      @apply flex flex-col flex-grow;

      .line {
        @apply bg-red w-full flex-grow;
      }
    }

    &.diff {
      .line {
        @apply px-1 select-none min-h-2;

        &::before {
          content: " ";
          @apply px-1 select-none min-h-2;
        }
        &.add {
          @apply bg-green-200;
          &::before {
            content: "+";
          }
        }
        &.remove {
          @apply bg-red-300;

          &::before {
            content: "-";
          }
        }
      }
    }
  }
}
